body {
  background-color: rgb(255, 249, 241);
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
}
.title h1 {
  margin-bottom: 20px;
}
.title p {
  font-size: 1.5rem;
}
.pie-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.piebox {
  width: 600px;
  height: 600px;
  background-color: white;
  position: relative;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.piebox li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 200px;
  width: 200px;
  height: 280px;
}
.piebox li.empty {
  justify-content: center;
}
.piebox li img {
  width: 200px;
}

.piebox li button {
  all: unset;
  cursor: pointer;
  background-color: white;
  text-align: center;
  width: 30px;
  height: 30px;
  color: red;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.piebox li button:active,
.pielist li button:active {
  transform: scale(0.98);
}

.piebox button.openBtn {
  color: black;
}

.total-price {
  position: absolute;
  bottom: 5%;
  left: 18%;
}
.total-price h1 {
  display: inline-block;
}

.pielist {
  visibility: hidden;
  width: 360px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.pielist li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.pielist li img {
  width: 85px;
}
.pielist li h1 {
  margin: 5px 0;
}

.pielist li button {
  all: unset;
  cursor: pointer;
  padding: 5px 3px;
  margin-top: 5px;
  background-color: white;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}
